body {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background-color: black;
    color: white;
}

main{
    width: 80vw;
    margin: 10vh auto;
    height: auto;
}

video {
    display: block;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

button {
    font-size: 1em;
    padding: 1em;
}
#save{
    position: absolute;
    top: 700px;
}

.videoView {
    position: relative;
    width: 80vw;
    /*overruled by js*/
}

#webcam{
    width: 1280px; 
    height: 720px; 
    position: absolute
    
}

.canvas {
    z-index: 1;
    position: absolute;
    pointer-events: none;
}

.output_canvas {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    position: absolute;
    left: 0px;
    top: 0px;
    width:1280;
    height:720;
}

#canvas_template{
    width: 480px;
    height: 270px;
    background-color: white;
}